html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(78, 80, 90);
}
#editor, #output {
    min-height: 600px;
    border: 3px solid black;
    border-radius: 5px;
    padding: 4px;
    margin: 0;
}
#editor {
    width: 600px;
    resize: none;
}
#output {
    min-width: 400px;
    white-space: pre;
}
.button {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Righteous', cursive;
}
.button_container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px;
}
.center {
    display: flex;
    align-items: center;
    justify-content: center;
}
#input_container, #output {
    float: left;
}
#output {
    background-color: white;
}
#input_output_container {
    margin-top: 25px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#editor { 
    width: 600px;
    height: 500px;
}